<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e50fe4b-1fb3-44d5-b3c2-38110dbed6a8" Alias="blogPostsFolder" Level="1">
  <Info>
    <Name>Blog Posts Folder</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>BlogPostsFolder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36f15fab-879e-4367-860a-45ea34ba2a4c">BlogPostsFolder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="53e6ee20-53df-415c-ba5c-0287fb1d1b37" SortOrder="0">blogPost</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>