<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9356dd4d-21d4-4f66-88c9-ec8bbb32f624" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-bold</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="db95fac3-64c8-4211-a1a6-00bba56ff8e4">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="861e7773-cfa1-4f1e-82ba-fb06e4a5c2c0" SortOrder="0">blogAuthorsFolder</ContentType>
    <ContentType Key="9e50fe4b-1fb3-44d5-b3c2-38110dbed6a8" SortOrder="1">blogPostsFolder</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9db0c2c7-2d51-46ff-90d3-fe97ed8300a6</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>95c34d3a-b352-4efb-9c24-f4b4a6024ed0</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>