<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95547449-9807-4e5c-9541-9708c9550fd4" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a1082bf5-d059-4db4-a70b-af202d4a5bec">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9f8883e4-308e-4c21-813e-ae0e0fbdf7a1" SortOrder="0">hiddenNode</ContentType>
    <ContentType Key="95547449-9807-4e5c-9541-9708c9550fd4" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>