<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84fa733d-1206-49ed-9a62-c5845838cf29" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f3396b2-da02-4e26-85c3-dcd1de86c538">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="95547449-9807-4e5c-9541-9708c9550fd4" SortOrder="0">contentPage</ContentType>
    <ContentType Key="9f8883e4-308e-4c21-813e-ae0e0fbdf7a1" SortOrder="1">hiddenNode</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>